In [338]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
pd.set_option('display.max_columns', None)

In [339]:
df = pd.read_csv('../data/raw/ncr_ride_bookings.csv')

In [340]:
# How Big is the data ?
df.shape

(150000, 21)

In [341]:
# How does the data look like ?
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,NaN,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,NaN,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,NaN,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,NaN,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [342]:
df.sample(10)

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
67683,2024-05-29,13:20:09,"""CNR9202947""",Cancelled by Driver,"""CID7330172""",Bike,Sarai Kale Khan,Rajouri Garden,8.2,NaN,NaN,NaN,1.0,The customer was coughing/sick,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95140,2024-02-27,00:54:14,"""CNR2264566""",Incomplete,"""CID3835750""",Bike,New Delhi Railway Station,Botanical Garden,3.2,15.7,NaN,NaN,NaN,NaN,1.0,Other Issue,458.0,3.82,NaN,NaN,Cash
132240,2024-01-24,00:51:10,"""CNR4042013""",Incomplete,"""CID6385378""",Go Sedan,Ramesh Nagar,Model Town,8.8,17.3,NaN,NaN,NaN,NaN,1.0,Vehicle Breakdown,513.0,1.75,NaN,NaN,Cash
144440,2024-09-13,11:45:48,"""CNR4433848""",Completed,"""CID8490390""",Premier Sedan,Samaypur Badli,Khan Market,9.0,43.9,NaN,NaN,NaN,NaN,NaN,NaN,533.0,21.72,4.9,4.3,Cash
76879,2024-03-14,11:00:38,"""CNR7508463""",Completed,"""CID8564706""",Auto,Saket A Block,Bhiwadi,6.7,21.6,NaN,NaN,NaN,NaN,NaN,NaN,888.0,10.36,4.2,4.9,Uber Wallet
42771,2024-07-22,15:48:48,"""CNR2755183""",Cancelled by Driver,"""CID5245863""",Go Mini,Ghitorni,Delhi Gate,3.1,NaN,NaN,NaN,1.0,More than permitted people in there,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22500,2024-10-12,13:58:20,"""CNR3144478""",Completed,"""CID8208181""",Go Mini,Dwarka Mor,IIT Delhi,10.3,40.8,NaN,NaN,NaN,NaN,NaN,NaN,417.0,37.18,3.8,4.6,UPI
23475,2024-01-07,09:54:09,"""CNR6029729""",Cancelled by Driver,"""CID8017281""",Auto,Chandni Chowk,ITO,9.7,NaN,NaN,NaN,1.0,Customer related issue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43999,2024-06-11,14:34:07,"""CNR2234186""",Completed,"""CID4145866""",Go Mini,Delhi Gate,Mansarovar Park,11.9,32.9,NaN,NaN,NaN,NaN,NaN,NaN,84.0,42.20,4.3,3.7,UPI
71566,2024-01-07,19:26:48,"""CNR6515543""",Cancelled by Customer,"""CID9416942""",eBike,Noida Film City,Lajpat Nagar,9.5,NaN,1.0,Driver is not moving towards pickup location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [343]:
### 3. Datatypes of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [344]:
### 4. Are there any missing values
df.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [345]:
### 5. How does the data look mathematically
df.describe()

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,139500.000000,102000.000000,10500.0,27000.0,9000.0,102000.000000,102000.000000,93000.000000,93000.000000
mean,8.456352,29.149636,1.0,1.0,1.0,508.295912,24.637012,4.230992,4.404584
std,3.773564,8.902577,0.0,0.0,0.0,395.805774,14.002138,0.436871,0.437819
min,2.000000,10.000000,1.0,1.0,1.0,50.000000,1.000000,3.000000,3.000000
25%,5.300000,21.600000,1.0,1.0,1.0,234.000000,12.460000,4.100000,4.200000
50%,8.300000,28.800000,1.0,1.0,1.0,414.000000,23.720000,4.300000,4.500000
75%,11.300000,36.800000,1.0,1.0,1.0,689.000000,36.820000,4.600000,4.800000
max,20.000000,45.000000,1.0,1.0,1.0,4277.000000,50.000000,5.000000,5.000000

In [346]:
### 6. Are there duplicate values ?
df.duplicated().sum()

0

In [347]:
### 7. How is the correlation between cols?
df.corr(numeric_only=True)   #shows correlation between columns

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
Avg VTAT,1.000000,0.062175,NaN,NaN,NaN,0.002259,0.063005,-0.005439,-0.003945
Avg CTAT,0.062175,1.000000,NaN,NaN,NaN,0.000216,0.101503,0.000807,0.001000
Cancelled Rides by Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cancelled Rides by Driver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Incomplete Rides,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Booking Value,0.002259,0.000216,NaN,NaN,NaN,1.000000,0.005174,-0.000249,-0.000287
Ride Distance,0.063005,0.101503,NaN,NaN,NaN,0.005174,1.000000,-0.001875,0.004514
Driver Ratings,-0.005439,0.000807,NaN,NaN,NaN,-0.000249,-0.001875,1.000000,-0.001010
Customer Rating,-0.003945,0.001000,NaN,NaN,NaN,-0.000287,0.004514,-0.001010,1.000000

In [348]:
df['Booking Value'] = df.groupby('Vehicle Type')['Booking Value'].transform(
        lambda x: x.fillna(x.median())
    )

df['Ride Distance'] = df['Ride Distance'].fillna(
        df.groupby('Vehicle Type')['Ride Distance'].transform('median')
    )

In [349]:
# Dropping Columns
columns_to_drop =  ['Booking Status', 'Reason for cancelling by Customer', 'Driver Cancellation Reason', 'Incomplete Rides Reason', 'Customer ID', 'Booking ID', 'Avg CTAT']
df.drop(columns_to_drop , axis = 1, inplace=True)
df.head(5)

,Date,Time,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,eBike,Palam Vihar,Jhilmil,NaN,NaN,NaN,NaN,410.0,24.21,NaN,NaN,NaN
1,2024-11-29,18:01:39,Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,NaN,NaN,1.0,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,Auto,Khandsa,Malviya Nagar,13.4,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,Premier Sedan,Central Secretariat,Inderlok,13.1,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,Bike,Ghitorni Village,Khan Market,5.3,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [350]:
df.sample(15)

,Date,Time,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
39260,2024-11-22,07:31:30,eBike,Noida Film City,Basai Dhankot,4.0,NaN,NaN,NaN,168.0,30.320,4.3,4.6,Cash
33905,2024-11-03,10:51:12,Auto,Tughlakabad,Rajouri Garden,14.8,NaN,NaN,NaN,237.0,32.850,4.2,4.9,Cash
143099,2024-02-28,02:19:10,Go Sedan,Pragati Maidan,Udyog Vihar,10.7,NaN,NaN,NaN,137.0,8.230,4.2,4.4,Debit Card
33786,2024-06-24,17:44:07,Go Mini,Lal Quila,Subhash Nagar,7.5,NaN,NaN,NaN,221.0,10.250,4.3,4.7,Credit Card
72334,2024-03-09,12:30:05,Bike,Meerut,Chandni Chowk,2.5,NaN,NaN,NaN,1273.0,46.860,4.6,4.2,Uber Wallet
72248,2024-05-21,09:41:24,Go Mini,Sohna Road,INA Market,6.3,NaN,NaN,NaN,214.0,17.980,4.3,4.8,UPI
5582,2024-11-19,10:51:51,Go Mini,Tilak Nagar,Mansarovar Park,7.8,NaN,1.0,NaN,412.0,23.635,NaN,NaN,NaN
85233,2024-06-01,10:44:34,Auto,Qutub Minar,Saket,14.3,NaN,NaN,NaN,71.0,21.280,4.3,4.3,UPI
113843,2024-06-16,18:47:18,Bike,Narsinghpur,Moolchand,10.1,NaN,NaN,NaN,474.0,48.580,4.5,4.9,Debit Card
75630,2024-08-15,19:18:13,eBike,Khandsa,Chandni Chowk,2.6,NaN,NaN,NaN,284.0,7.870,4.6,4.6,Debit Card
50189,2024-01-29,21:18:35,Go Mini,Saket A Block,Anand Vihar,9.1,NaN,1.0,NaN,412.0,23.635,NaN,NaN,NaN
88679,2024-05-06,12:43:10,Premier Sedan,Qutub Minar,Shastri Nagar,13.7,NaN,NaN,NaN,483.0,34.880,4.4,4.6,UPI
123878,2024-10-17,06:43:44,Auto,Nirman Vihar,Anand Vihar ISBT,7.0,NaN,NaN,NaN,79.0,49.680,4.8,4.2,UPI
32369,2024-06-09,05:36:28,Go Sedan,Cyber Hub,Mundka,5.4,NaN,1.0,NaN,416.0,23.670,NaN,NaN,NaN
37179,2024-06-27,20:55:09,Bike,Chirag Delhi,Subhash Nagar,6.8,NaN,NaN,NaN,748.0,29.840,4.4,3.6,Cash

In [351]:
df['Cancelled Rides by Customer'].fillna(0, inplace=True)

C:\Users\bsais\AppData\Local\Temp\ipykernel_12496\4285745599.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cancelled Rides by Customer'].fillna(0, inplace=True)

In [352]:
df['Cancelled Rides by Driver'].fillna(0, inplace=True)

C:\Users\bsais\AppData\Local\Temp\ipykernel_12496\4007300870.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cancelled Rides by Driver'].fillna(0, inplace=True)

In [353]:
df['Incomplete Rides'].fillna(0, inplace=True)

C:\Users\bsais\AppData\Local\Temp\ipykernel_12496\1416218248.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Incomplete Rides'].fillna(0, inplace=True)

In [354]:
df.sample(20)

,Date,Time,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
61979,2024-07-31,04:52:13,eBike,Laxmi Nagar,Ramesh Nagar,13.6,0.0,0.0,0.0,268.0,17.190,4.3,4.9,Cash
88945,2024-01-19,08:09:42,Auto,Shastri Nagar,Kaushambi,7.3,0.0,1.0,0.0,414.0,23.610,NaN,NaN,NaN
22237,2024-03-04,10:17:41,Auto,Jor Bagh,Manesar,NaN,0.0,0.0,0.0,414.0,23.610,NaN,NaN,NaN
54358,2024-03-05,20:40:57,eBike,Vishwavidyalaya,Jama Masjid,7.2,0.0,0.0,0.0,534.0,29.190,4.5,5.0,UPI
16406,2024-09-24,20:09:32,Auto,Ambience Mall,Sarojini Nagar,5.6,0.0,0.0,0.0,799.0,45.670,4.9,4.5,UPI
125987,2024-09-21,06:17:09,Uber XL,Ghitorni,Karol Bagh,7.9,0.0,0.0,0.0,302.0,5.950,4.9,4.3,Uber Wallet
129866,2024-03-15,09:08:37,Bike,RK Puram,Panipat,NaN,0.0,0.0,0.0,416.0,23.760,NaN,NaN,NaN
2644,2024-09-28,00:43:21,Auto,Indirapuram,Kalkaji,8.6,0.0,0.0,0.0,311.0,45.910,3.8,4.7,Uber Wallet
75241,2024-07-12,12:52:19,Auto,Tis Hazari,Uttam Nagar,6.8,0.0,0.0,0.0,823.0,26.570,4.1,4.5,Cash
98099,2024-05-19,20:47:17,Go Sedan,Ambience Mall,Ashok Vihar,NaN,0.0,0.0,0.0,416.0,23.670,NaN,NaN,NaN
57856,2024-09-23,21:09:53,Bike,Panchsheel Park,Delhi Gate,13.0,0.0,0.0,0.0,122.0,34.130,3.5,4.0,UPI
113099,2024-12-22,09:20:24,Premier Sedan,Gurgaon Railway Station,Cyber Hub,10.2,0.0,0.0,0.0,177.0,33.310,4.7,4.2,Cash
82874,2024-01-23,15:52:48,Go Mini,AIIMS,Connaught Place,6.4,0.0,0.0,0.0,307.0,34.090,4.4,4.3,Uber Wallet
13471,2024-10-19,18:03:58,Auto,Ghitorni,Pitampura,8.7,1.0,0.0,0.0,414.0,23.610,NaN,NaN,NaN
138584,2024-02-25,19:29:37,Go Sedan,Punjabi Bagh,Hero Honda Chowk,4.3,0.0,0.0,0.0,1477.0,23.360,4.4,4.4,Uber Wallet
53065,2024-07-04,17:49:01,Go Sedan,Preet Vihar,Sushant Lok,10.2,0.0,0.0,0.0,590.0,4.380,4.7,4.0,Credit Card
101275,2024-02-22,15:33:25,Go Sedan,Faridabad Sector 15,Peeragarhi,14.4,0.0,0.0,0.0,82.0,42.500,4.2,3.9,UPI
119722,2024-01-19,14:38:02,Bike,Lok Kalyan Marg,Malviya Nagar,10.5,0.0,0.0,0.0,313.0,25.510,3.2,4.7,Credit Card
71839,2024-07-19,11:09:08,Go Mini,Malviya Nagar,Vatika Chowk,10.2,0.0,1.0,0.0,412.0,23.635,NaN,NaN,NaN
87231,2024-08-06,18:19:37,Go Sedan,Subhash Nagar,Indraprastha,4.6,0.0,0.0,0.0,512.0,32.500,3.9,4.4,UPI

In [355]:
df.isnull().sum()

Date                               0
Time                               0
Vehicle Type                       0
Pickup Location                    0
Drop Location                      0
Avg VTAT                       10500
Cancelled Rides by Customer        0
Cancelled Rides by Driver          0
Incomplete Rides                   0
Booking Value                      0
Ride Distance                      0
Driver Ratings                 57000
Customer Rating                57000
Payment Method                 48000
dtype: int64

In [356]:
#Drive Rating Fix
df['driver_rating_missing'] = df['Driver Ratings'].isnull().astype(int)
driver_median = df['Driver Ratings'].median()
df['driver_rating_filled'] = df['Driver Ratings'].fillna(driver_median)

In [357]:
#Customer Rating Fix
df['customer_rating_missing'] = df['Customer Rating'].isnull().astype(int)
customer_median = df['Customer Rating'].median()
df['customer_rating_filled'] = df['Customer Rating'].fillna(customer_median)

In [358]:
#Payment Fix
df['Payment Method'] = df['Payment Method'].fillna('UNKNOWN')

In [359]:
df

,Date,Time,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method,driver_rating_missing,driver_rating_filled,customer_rating_missing,customer_rating_filled
0,2024-03-23,12:29:38,eBike,Palam Vihar,Jhilmil,NaN,0.0,0.0,0.0,410.0,24.21,NaN,NaN,UNKNOWN,1,4.3,1,4.5
1,2024-11-29,18:01:39,Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,0.0,0.0,1.0,237.0,5.73,NaN,NaN,UPI,1,4.3,1,4.5
2,2024-08-23,08:56:10,Auto,Khandsa,Malviya Nagar,13.4,0.0,0.0,0.0,627.0,13.58,4.9,4.9,Debit Card,0,4.9,0,4.9
3,2024-10-21,17:17:25,Premier Sedan,Central Secretariat,Inderlok,13.1,0.0,0.0,0.0,416.0,34.02,4.6,5.0,UPI,0,4.6,0,5.0
4,2024-09-16,22:08:00,Bike,Ghitorni Village,Khan Market,5.3,0.0,0.0,0.0,737.0,48.21,4.1,4.3,UPI,0,4.1,0,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,Go Mini,MG Road,Ghitorni,10.2,0.0,0.0,0.0,475.0,40.08,3.7,4.1,Uber Wallet,0,3.7,0,4.1
149996,2024-11-24,15:55:09,Go Mini,Golf Course Road,Akshardham,5.1,0.0,0.0,0.0,1093.0,21.31,4.8,5.0,UPI,0,4.8,0,5.0
149997,2024-09-18,10:55:15,Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,0.0,0.0,0.0,852.0,15.93,3.9,4.4,Cash,0,3.9,0,4.4
149998,2024-10-05,07:53:34,Auto,Ghaziabad,Saidulajab,6.9,0.0,0.0,0.0,333.0,45.54,4.1,3.7,UPI,0,4.1,0,3.7
149999,2024-03-10,15:38:03,Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,0.0,0.0,0.0,806.0,21.19,4.6,4.9,Credit Card,0,4.6,0,4.9

In [360]:
# Dropping Columns
columns_to_drop =  ['Customer Rating', 'Driver Ratings']
df.drop(columns_to_drop , axis = 1, inplace=True)
df.head(5)

,Date,Time,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Payment Method,driver_rating_missing,driver_rating_filled,customer_rating_missing,customer_rating_filled
0,2024-03-23,12:29:38,eBike,Palam Vihar,Jhilmil,NaN,0.0,0.0,0.0,410.0,24.21,UNKNOWN,1,4.3,1,4.5
1,2024-11-29,18:01:39,Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,0.0,0.0,1.0,237.0,5.73,UPI,1,4.3,1,4.5
2,2024-08-23,08:56:10,Auto,Khandsa,Malviya Nagar,13.4,0.0,0.0,0.0,627.0,13.58,Debit Card,0,4.9,0,4.9
3,2024-10-21,17:17:25,Premier Sedan,Central Secretariat,Inderlok,13.1,0.0,0.0,0.0,416.0,34.02,UPI,0,4.6,0,5.0
4,2024-09-16,22:08:00,Bike,Ghitorni Village,Khan Market,5.3,0.0,0.0,0.0,737.0,48.21,UPI,0,4.1,0,4.3

In [361]:
df.shape

(150000, 16)

In [362]:
df.isnull().sum()

Date                               0
Time                               0
Vehicle Type                       0
Pickup Location                    0
Drop Location                      0
Avg VTAT                       10500
Cancelled Rides by Customer        0
Cancelled Rides by Driver          0
Incomplete Rides                   0
Booking Value                      0
Ride Distance                      0
Payment Method                     0
driver_rating_missing              0
driver_rating_filled               0
customer_rating_missing            0
customer_rating_filled             0
dtype: int64

In [363]:
df['Supply_Stress'] = (
    (df['Avg VTAT'].notna())) & (df["Avg VTAT"] > df["Avg VTAT"].quantile(0.90)).astype(int)

In [364]:
df = df.drop(columns=["Avg VTAT"])

In [365]:
df[df['Supply_Stress'] == True]

,Date,Time,Vehicle Type,Pickup Location,Drop Location,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Payment Method,driver_rating_missing,driver_rating_filled,customer_rating_missing,customer_rating_filled,Supply_Stress
14,2024-10-18,18:28:53,Go Mini,Madipur,GTB Nagar,0.0,0.0,0.0,836.0,39.55,UPI,0,4.7,0,4.4,True
35,2024-06-07,19:21:10,Go Sedan,Nirman Vihar,Malviya Nagar,0.0,0.0,0.0,470.0,27.07,Cash,0,3.7,0,4.2,True
62,2024-02-09,11:15:59,Auto,Karkarduma,IGI Airport,1.0,0.0,0.0,414.0,23.61,UNKNOWN,1,4.3,1,4.5,True
99,2024-03-26,18:59:52,Premier Sedan,Chhatarpur,Badshahpur,1.0,0.0,0.0,416.0,23.86,UNKNOWN,1,4.3,1,4.5,True
110,2024-06-10,15:24:51,Bike,Rohini West,Yamuna Bank,0.0,0.0,0.0,361.0,24.44,UPI,0,4.3,0,4.8,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149961,2024-10-17,09:45:22,Auto,Badshahpur,Kalkaji,0.0,0.0,0.0,439.0,34.54,UPI,0,4.2,0,4.1,True
149965,2024-10-10,21:49:49,Auto,Saket A Block,Hero Honda Chowk,1.0,0.0,0.0,414.0,23.61,UNKNOWN,1,4.3,1,4.5,True
149969,2024-08-16,15:17:06,Auto,Rohini West,Uttam Nagar,0.0,0.0,0.0,524.0,4.14,UPI,0,3.9,0,4.2,True
149972,2024-05-18,16:00:00,Uber XL,Old Gurgaon,Central Secretariat,0.0,0.0,0.0,553.0,45.21,UPI,0,4.4,0,4.3,True
149989,2024-07-22,10:04:18,Auto,Shahdara,Panchsheel Park,0.0,0.0,0.0,75.0,8.33,Credit Card,0,4.2,0,4.9,True

In [366]:
df['Supply_Stress'].unique()

array([False,  True])

In [367]:
df["hour"] = pd.to_datetime(df["Time"]).dt.hour
df["day_of_week"] = pd.to_datetime(df["Date"]).dt.dayofweek

C:\Users\bsais\AppData\Local\Temp\ipykernel_12496\3516772279.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["hour"] = pd.to_datetime(df["Time"]).dt.hour

In [368]:
df = df.drop(columns=["Date", "Time"])

In [369]:
df["Supply_Stress"] = df["Supply_Stress"].astype(int)

In [370]:
df['hour_sin'] = np.sin(2 * np.pi * df['hour'] / 24)
df['hour_cos'] = np.cos(2 * np.pi * df['hour'] / 24)
df['day_sin'] = np.sin(2 * np.pi * df['day_of_week'] / 7)
df['day_cos'] = np.cos(2 * np.pi * df['day_of_week'] / 7)
df.drop(['hour', 'day_of_week'], axis=1, inplace=True)

In [371]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 18 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Vehicle Type                 150000 non-null  object
 1   Pickup Location              150000 non-null  object
 2   Drop Location                150000 non-null  object
 3   Cancelled Rides by Customer  150000 non-null  float64
 4   Cancelled Rides by Driver    150000 non-null  float64
 5   Incomplete Rides             150000 non-null  float64
 6   Booking Value                150000 non-null  float64
 7   Ride Distance                150000 non-null  float64
 8   Payment Method               150000 non-null  object
 9   driver_rating_missing        150000 non-null  int32
 10  driver_rating_filled         150000 non-null  float64
 11  customer_rating_missing      150000 non-null  int32
 12  customer_rating_filled       150000 non-null  float64
 13  Supply_Stress                150000 non-null  int32
 14  hour_sin                     150000 non-null  float64
 15  hour_cos                     150000 non-null  float64
 16  day_sin                      150000 non-null  float64
 17  day_cos                      150000 non-null  float64
dtypes: float64(11), int32(3), object(4)
memory usage: 18.9+ MB

In [372]:
categorical_cols = ['Vehicle Type', 'Pickup Location', 'Drop Location', 'Payment Method']
encoders = {}

for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))
    encoders[col] = le

In [373]:
df.sample(5)

,Vehicle Type,Pickup Location,Drop Location,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Payment Method,driver_rating_missing,driver_rating_filled,customer_rating_missing,customer_rating_filled,Supply_Stress,hour_sin,hour_cos,day_sin,day_cos
110125,3,36,85,0.0,0.0,0.0,386.0,21.68,0,0,4.7,0,4.9,0,-1.000000,-1.836970e-16,-0.974928,-0.222521
128751,0,13,10,0.0,0.0,0.0,646.0,24.54,4,0,3.8,0,4.9,1,-0.500000,8.660254e-01,-0.781831,0.623490
33593,0,17,53,0.0,0.0,0.0,1311.0,9.68,2,0,4.6,0,4.9,0,-0.866025,-5.000000e-01,-0.433884,-0.900969
96637,6,96,49,0.0,0.0,0.0,189.0,8.75,1,0,4.3,0,4.7,1,0.707107,-7.071068e-01,0.433884,-0.900969
18744,3,53,8,0.0,0.0,0.0,81.0,14.92,5,0,3.6,0,4.9,0,-0.866025,5.000000e-01,-0.781831,0.623490

In [375]:
df.to_csv('../data/Processed.csv', index=False)